<div>
    <div class="p-2 border-bottom">
        <div class="btn bt-light m-2 {{class_1}}" task="teste_1" ng-click="task('teste_1')">
            <a href={{path}}teste1>Teste 1</a>
        </div>

        <div class="btn bt-light m-2 {{class_2}}" task="teste_2" ng-click="task('teste_2')">
            <a href={{path}}teste2>Teste 2</a>
        </div>

        <div class="btn bt-light m-2 {{class_3}}" task="minTeste_1" ng-click="task('minTeste_1')">
            <a href={{path}}minTeste_1>Mini Teste 1</a>
        </div>

        <div class="btn bt-light m-2 {{class_4}}" task="minTeste_2" ng-click="task('minTeste_2')">
            <a href={{path}}minTeste_2>Mini Teste 2</a>
        </div>

        <div class="btn bt-light m-2 {{class_5}}" task="exame_normal" ng-click="task('exame_normal')">
            <a href={{path}}exame_normal>Exame Normal</a>
        </div>

        <div class="btn bt-light m-2 {{class_6}}" task="exame_rec" ng-click="task('exame_rec')">
            <a href={{path}}exame_rec>Exame de Recorrência</a>
        </div>
    </div>

    <div class="m-2 m-shadow bg-white p-2 border table-responsive">
        <div class="m-2 mb-3">
            <h6>Lacamento de Notas do {{teste_type}}</h6>
            <div>
                <strong>Curso:</strong> {{curso}}
            </div>
            <div>
                <strong>Disciplina:</strong> {{disciplina}}
            </div>
            <div>
                <strong>Truma:</strong> {{turma}} -- Turno: {{turno}}
            </div>
        </div>
        <form method="POST" action="">
            <table class="table display datatable-responsive table-border table-striped table-sm collapsed p-2">
                <thead>
                    <th>#</th>
                    <th></th>
                    <th>Estudante</th>
                    <th>Disciplina</th>
                    <th>Ano/Sem</th>
                    <th>Turma</th>
                    <th>Teste 1</th>
                    <th>Teste 2</th>
                    <th>Media</th>
                    <th>Mini<br>Teste 1</th>
                    <th>Mini<br>Teste 2</th>
                    <th>Media</th>
                    <th>Exame<br>Normal</th>
                    <th>Exame<br>Recorrêcia</th>
                    <th style="text-align: center">Nota Final</th>
                    <th>Observação</th>
                </thead>
                <tbody ng-bind-html="lacamentoTable">
                </tbody>

            </table>
            <span ng-if="responseTable" ng-bind-html="loadtable"></span>
            <div class="w-100">
                <button class="ml-2 btn btn-primary">Gravar</button>
            </div>
        </form>
    </div>
</div>

<script>

    function Onlynumbers(e) {
        var tecla = new Number();
        if (window.event) {
            tecla = e.keyCode;
        }
        else if (e.which) {
            tecla = e.which;
        }
        else {
            return true;
        }
        if ((tecla >= "97") && (tecla <= "122")) {
            return false;
        }
    }

</script>
